.button {
  background-color: #D91F2B;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 16px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  font-family: "Ubuntu", "Arial", sans-serif;;
}
