.connection {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__field {
    background-color: inherit;
    padding: 12px;
    border: solid 1px #9999AD;
    border-radius: 5px;
    resize: none;
    color: #ffffff;

    &:active {
      border-color: #ffffff;
    }

    &::placeholder {
      font-family: "Ubuntu", "Arial", sans-serif;
      color: #9999AD;
    }


  }
}
