.main-header {
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  position: relative;
  font-weight: 400;
  height:min-content;

  &__container {
    margin-top: 65px;
    width: 100%;

    @media (min-width: @tablet-width) {
      margin-top: 90px;
    }
  }

  &__content {
    text-transform: uppercase;
    line-height: 135%;
    font-size: 20px;

    @media (min-width: @tablet-width) {
      font-size: 32px;
      max-width: 900px;
      min-width: 500px;
      margin-top: 10px;
      margin-bottom: 29px;
    }

    & span {
      white-space: nowrap;
    }
  }

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding: 30px 16px;

    @media (min-width: @tablet-width) {
      padding: 30px 100px;
    }

  }

  &__logo {
    display: block;
    margin: 20px 0 39px;

    @media (min-width: @tablet-width) {
      width: 280px;
      height: 190px;
      margin-bottom: 10px;
    }
  }

  &__button {
    margin-top: 6px;
  }
}
