.swiper{
  width: 100%;
  height: 100%;
  transition: 1s;

}

.swiper-slide{
  text-align: center;
  font-size: 18px;
  background-color: aliceblue;
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.swiper-slide img{
  width: 100%;
  object-fit: cover;
}

.swiper-pagination {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  position: relative;
  bottom: unset !important;
  width: 100% !important;
  margin-top: 30px;
  transition: all 1s ease;

  @media (min-width: @tablet-width) {
    width: 310px !important;
  }
}

.swiper-pagination-bullet {
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  opacity: 0.25;
  width: 100%;
  height: 6px;
  transition: 1s;
  margin: 0;

  @media (min-width: @tablet-width) {
    height: 4px;
  }
}

.swiper-pagination-bullet-active {
  background-color: #D91F2B;
  opacity: 1;
}
